<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<!-- mapper 为根元素节点， 一个namespace对应一个dao -->
<!-- 插入图片信息 -->
<mapper namespace="interf.mapper.PicInfoMapper">
  <insert id="addFile" parameterType="PicInfo">
  	insert into picInfo(picId,picName,picType,picPath,expiryDate,reservedValue1,reservedValue2,reservedValue3)
  	values(#{picId,jdbcType=CHAR},#{picName,jdbcType=VARCHAR},
  		#{picType,jdbcType=VARCHAR},#{picPath,jdbcType=VARCHAR},
  		#{expiryDate,jdbcType=DATE},#{reservedValue1,jdbcType=VARCHAR},
  		#{reservedValue2,jdbcType=VARCHAR},#{reservedValue3,jdbcType=VARCHAR}
  	) 
  </insert>
  
<!--   批量插入图片信息 -->
  <insert id="batchAddFiles" parameterType="java.util.List">
  	insert into picInfo(picId,picName,picType,picPath,expiryDate,reservedValue1,reservedValue2,reservedValue3)
  	values
  	 <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.picId,jdbcType=CHAR},#{item.picName,jdbcType=VARCHAR},
  		#{item.picType,jdbcType=VARCHAR},#{item.picPath,jdbcType=VARCHAR},
  		#{item.expiryDate,jdbcType=DATE},#{item.reservedValue1,jdbcType=VARCHAR},
  		#{item.reservedValue2,jdbcType=VARCHAR},#{item.reservedValue3,jdbcType=VARCHAR}
  		)  
    </foreach> 
  </insert>
  
<!-- 条件插入   -->
  <insert id="insertSelective" parameterType="PicInfo" >
    insert into picInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="picId != null and picId != ''" >
        picId,
      </if>
      <if test="picName != null and picName != ''" >
        picName,
      </if>
      <if test="picType != null and picType != ''" >
        picType,
      </if>
      <if test="status != null and status != ''" >
        status,
      </if>
      <if test="picPath != null" >
        picPath,
      </if>
      <if test="expiryDate != null and expiryDate != ''" >
        expiryDate,
      </if>
      <if test="reservedValue1 != null and reservedValue1 != ''" >
        reservedValue1,
      </if>
      <if test="reservedValue2 != null and reservedValue2 != ''" >
        reservedValue2,
      </if>
      <if test="reservedValue3 != null and reservedValue3 != ''" >
        reservedValue3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="picId != null and picId != ''" >
        #{picId,jdbcType=CHAR},
      </if>
      <if test="picName != null and picName != ''" >
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picType != null and picType != ''" >
        #{picType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null and expiryDate != ''" >
        #{expiryDate,jdbcType=DATE},
      </if>
      <if test="reservedValue1 != null and reservedValue1 != ''" >
        #{reservedValue1,jdbcType=VARCHAR},
      </if>
      <if test="reservedValue2 != null and reservedValue2 != ''" >
        #{reservedValue2,jdbcType=VARCHAR},
      </if>
      <if test="reservedValue3 != null and reservedValue3 != ''" >
        #{reservedValue3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
    <update id="updateByPicId" parameterType="PicInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 17 10:48:51 CST 2016.
    -->
    update picInfo
    <set >
      <if test="picName != null and picName != ''" >
        picName = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picType != null and picType != ''" >
        picType = #{picType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="picPath != null and picPath != ''" >
        picPath = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null and expiryDate != ''" >
        expiryDate = #{expiryDate,jdbcType=DATE},
      </if>
      <if test="reservedValue1 != null and reservedValue1 != ''" >
        reservedValue1 = #{reservedValue1,jdbcType=VARCHAR},
      </if>
      <if test="reservedValue2 != null and reservedValue2 != ''" >
        reservedValue2 = #{reservedValue2,jdbcType=VARCHAR},
      </if>
      <if test="reservedValue3 != null and reservedValue3 != ''" >
        reservedValue3 = #{reservedValue3,jdbcType=VARCHAR},
      </if>
    </set>
    where picId = #{picId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="PicInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Oct 17 10:48:51 CST 2016.
    -->
    update picInfo
    set picId = #{picId,jdbcType=CHAR},
      picName = #{picName,jdbcType=VARCHAR},
      picType = #{picType,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      picPath = #{picPath,jdbcType=VARCHAR},
      expiryDate = #{expiryDate,jdbcType=DATE},
      reservedValue1 = #{reservedValue1,jdbcType=VARCHAR},
      reservedValue2 = #{reservedValue2,jdbcType=VARCHAR},
      reservedValue3 = #{reservedValue3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
<!-- 条件调阅查询   -->
  <select id="viewByCondition" parameterType="PicInfo" resultType="PicInfo">
  	select picId,picName,picType,picPath,expiryDate,reservedValue1,reservedValue2,reservedValue2
  	from picInfo 
  	<where>
  		<trim prefix="(" suffix=")" prefixOverrides="and">
  			<if test="picId != null and picId != ''">
  				and picId = #{picId}
  			</if>
  			<if test="picName != null and picName != ''">
  				and picName = #{picName}
  			</if>
  			<if test="picType != null and picType != ''">
  				and picType = #{picType}
  			</if>
  			<if test="expiryDate != null and expiryDate != ''">
  				and expiryDate <![CDATA[<]]> #{expiryDate}
  			</if>
  			<if test="reservedValue1 != null and reservedValue1 != ''">
  				and reservedValue1 = #{reservedValue1}
  			</if>
  			<if test="reservedValue2 != null and reservedValue2 != ''">
  				and reservedValue2 = #{reservedValue2}
  			</if>
  			<if test="reservedValue3 != null and reservedValue3 != ''">
  				and reservedValue3 = #{reservedValue3}
  			</if>
  			<if test="status != null and status != ''">
  				and status = #{status}
  			</if>
  		</trim>
  	</where>
  </select>
  
  <delete id="deleteFile" parameterType="String">
  	delete from picInfo where picId = #{picId,jdbcType=VARCHAR}
  </delete>
</mapper>